@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/* headings and logo */


h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;

}

#menu,
#logo {
    /* comma between menu and logo means it's listing multiple objects.
    If you forget the comma computer will look for a child logo under menu.
    This code sets the same height for menu and logo */
    line-height: 75px;
}

#menu li {
    float: right;
    /* this moves menu to the right, 
    if you float menu itself, it puts it to the right, 
    but it does not align them horisontally, but li under menu would */
    list-style-type: none;
    /* this means list will not be bulleted 
    or decorated in any way */
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    /* this removes the underline from menu */
    color: inherit;
    /* this turns menu same colour as body because it looks
    at the hierarchy of the HTML and borrows from the parent */
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    /* a hover means when a mouse hovers over the menu it should
    activate the border size, shape and colour */
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    /* hidden overflow means that anything that spills over the
    indcated dimensions will be hidden/invisible/cut out 
    Because both hero ID's have the same height and width, the
    overflow rule cleared the image from the header section*/

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
    /* cover text itself + h2 under the cover-text
    both are mentioned here. We're giving it a white colour */
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    /* animation zooms in frame then stays zoomed */
}


/* create the level of the zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 30px;

    position: absolute;
}

/* club ethos */

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: silver;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: green;
}